@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';

html {
    scroll-behavior: smooth;
}

.nav {
    width: 300px;
    display: flex;
    justify-content: space-between;

    .links {
        @include text($textFontFamily, 16px, 1, 300, 1px);
        text-decoration: none;
        color: $bgColor;

        transition: .3s;
        &:hover {
            text-decoration: $primaryColor underline dashed;
            color: $primaryColor;
            transform: scale(1.15);
            transition: .5s;
        }
    }
}