.contactsBlock {
    font-weight: bold;
    width: 75%;
    height: 55%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.text {
    width: fit-content;
    background-color: lightgrey;
    font-size: 20px;
    text-align: center;
}

form {
    width: 50%;
    height: 50%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form input {
    background-color: darkgrey;
    border: none;
    text-align: center;
    height: 15%;
}

form textarea {
    background-color: darkgrey;
    border: none;
    text-align: center;
    height: 45%;
}

button {
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    border: none;
    background-color: darkgrey;
    text-decoration: none;
}