@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.block {
  padding: 100px 0;
  background-color: $bgColor;

  .particles {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .3;
  }

  .container {
    @include container();
    @include flex(row, space-around, center, wrap);

    .introduce {
      @include text($textFontFamily, 18px, 1, 2px);
      @include flex(column, flex-start, flex-start);
      text-align: center;

      span:nth-child(2) {
        @include text($titleFontFamily, 50px, 1.2, 700, 5px);
        margin: 10px 0;

        span {
          @include text($titleFontFamily, 50px, 1.2, 700, 5px);
          position: relative;
          z-index: 0;
          display: inline-block;

          &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 17px;
            background-color: $primaryColor;
            bottom: 5px;
            z-index: -1;
          }
        }
      }
      .typing {
        @include text($textFontFamily, 30px, 1.8, 700);
      }
      @media screen and (max-width: 1160px) {
        align-items: center;
      }
    }
    .photoWrapper {
      position: relative;
      z-index: 1;
      @media screen and (max-width: 1210px) {
        margin-top: 50px;
      }
      @media screen and (max-width: 1240px) and (min-width: 1210px) {
        margin-left: 40px;
      }
      .photo {
        width: 300px;
        height: 400px;
        @include bg(center, cover);
        @media screen and (max-width: 600px) {
          height: 266px;
          width: 200px;
        }
        &:after {
          content: '';
          position: absolute;
          height: 108%;
          width: 105%;
          border: 5px solid $primaryColor;
          left: 10px;
          top: -20px;
          z-index: -1;
          transition: .4s ease-in-out;
        }
        &:hover {
          &:after {
            left: -12px;
            top: -22px;
            transition: .4s ease-in-out;
          }
        }
      }
    }
  }
}