@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.block {
  padding: 50px 0;
  background-color: $bgColor;

  .container {
    @include container();
    @include flex(row, space-around, center, wrap);


    .text {
      text-align: center;
      width: 300px;
      padding: 5px 0;
      background-color: $bgSecondColor;
      @include text($textFontFamily, 16px, 1.2, 400, 1px);

      p {
        margin: 5px 0;
      }
    }

    .photo {
      width: 300px;
      height: 400px;
      @include bg(center, cover);
      border-radius: 5px;
    }
  }
}