@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.aboutBlock {
  padding: 50px 0;
  background-color: $bgColor;

  .aboutContainer {
    justify-content: space-around;

    .text {
      text-align: center;
      width: 300px;
      padding: 5px 0;
      background-color: $bgSecondColor;
      @include text($textFontFamily, 16px, 1.2, 400, 1px);

      p {
        margin: 5px 0;
      }
    }

    .photo {
      width: 300px;
      height: 400px;
      background-size: cover;
      background-position: center;
      border-radius: 5px;
    }
  }
}