@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.skillsBlock {
    background-color: $bgSecondColor;
    padding: 100px 0;

    .skillsContainer {
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: nowrap;

        .skills {
            margin-top: 30px;
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

    }
}
