@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.block {
    background-color: $bgSecondColor;
    padding: 100px 0;

    .container {
        @include container();
        @include flex(column, flex-start, center, nowrap);

        .skills {
            margin-top: 30px;
            width: 100%;
            @include flex(row, center, normal, wrap);
        }

    }
}
