@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';

.project {
  width: 450px;
  background-color: $bgSecondColor;
  display: flex;
  flex-direction: column;

  .image {
    height: 300px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* затеняющий при наведении блок */
    &:hover::before {
      position: absolute;
      content: "";
      background-color: #000;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: .4;
    }

    .viewBtn {
      background-color: $primaryColor;
      padding: 10px 20px;
      z-index: 1;
      color: $textColor;
      text-decoration: none;
      border-radius: 5px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .projectInfo {
    padding: 25px 20px;

    .projectTitle {
      @include text($titleFontFamily, 16px, 1.2, 1px);

      margin: 0 0 5px;
    }

    .description {
      @include text($textFontFamily, 14px, 1.8, 400)
    }
  }

}


