.remoteBlock {
    height: 10vh;
    width: 75%;
    border: 1px solid;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.text {
    background-color: lightgrey;
    font-size: 20px;
}

.button {
    background-color: darkgrey;
    text-decoration: none;
    width: 150px;
    color: black;
}