.footer {
    background-color: #d4ffd3;
}

.footerContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #eeeef5;
}

.socialIcons {
    width: 250px;
    background-color: #d6d6d6;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.socialIcon {
    width: 50px;
    height: 50px;
    background-color: #fff;
}