.projectsBlock {
    background-color: #f4d7ff;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.title {
    background-color:  #eeeef5;
}

.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}